<h2>NATIONAL FOOTBALL LEAGUE</h2>
<h3><%= link_to "Go to Games", games_path %></h3>

<div class='row'>

  <div class='col-md-3'>
    <table class='table table-striped'>
      <th>Conference</th>
      <th>Division</th>
      <th>Team</th>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.conference %></td>
          <td><%= team.division %></td>
          <td><%= link_to team.name, team_path(team) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class='col-md-1'>
    <h3>Filters</h3>
    <h4>By Division</h4>
    <div class='btn-group-vertical'>
      <a href='<%= teams_path %>'
        type='button'
        class='btn btn-default
        <%= 'btn-primary btn-active' if @division == 'All' %>
        btn-sm'
      >All</a>
        <% @divisions.each do |division| %>
          <a href='/teams?division=<%= division %>'
            type='button'
            class='btn btn-default
            <%= 'btn-primary btn-active' if @division == division %>
            btn-sm'
          ><%= division %></a>
        <% end %>
    </div>
    <h4>By Conference</h4>
    <div class='btn-group-vertical'>
      <a href='<%= teams_path %>'
        type='button'
        class='btn btn-default
        <%= 'btn-primary btn-active' if @conference == 'All' %>
        btn-sm'
      >All</a>
        <% @conferences.each do |conference| %>
          <a href='/teams?conference=<%= conference %>'
            type='button'
            class='btn btn-default
            <%= 'btn-primary btn-active' if @conference == conference %>
            btn-sm'
          ><%= conference %></a>
        <% end %>
    </div>
  </div>
</div>
