<%= link_to "&larr; Back".html_safe, root_path %>

<h2><%= @team.name %></h2>
<h2><%= link_to "Log new game", new_team_game_path(@team) %></h2>


<h3>Regular Season Games</h3>
<h3>record <%= @wins %> - <%= @losses %></h3>
<h3>average betting line <%= @betting_lines %></h3>
<h3>average O/U <%= @over_unders %></h3>
<h3>Win % <%= @win_percent %>%</h3>
<h3>Win % on betting line <%= @betting_line_success_rate %>%</h3>
<h3>Win % on over under <%= @over_under_success_rate %>%</h3>


<div class="row">

  <div class='col-md-6'>
    <table class='table table-striped'>
      <th>Date</th>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Score</th>
      <th>Betting Line</th>
      <th>Over Under</th>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.date %></td>
          <td><%= game.away_team.name %></td>
          <td><%= game.home_team.name %></td>
          <td><%= game.away_team_score%> - <%= game.home_team_score%></td>
          <td><%= game.betting_line %></td>
          <td><%= game.over_under %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class='col-md-1'>
    <h3>Filters</h3>
    <h4>Location</h4>
    <div class='btn-group-vertical'>
      <a href='<%= team_path(@team) %>'
        type='button'
        class='btn btn-default
        <%= 'btn-primary btn-active' if @location == 'All' %>
        btn-sm'
      >All</a>
        <% @locations.each do |spot| %>
          <a href='/teams/<%=@team.id%>?location=<%= spot %>'
            type='button'
            class='btn btn-default
            <%= 'btn-primary btn-active' if @location == spot %>
            btn-sm'
          ><%= spot %></a>
        <% end %>
    </div>
    <h4>By Season</h4>
    <div class='btn-group-vertical'>
      <a href='<%= team_path(@team) %>'
        type='button'
        class='btn btn-default
        <%= 'btn-primary btn-active' if @season == 'All' %>
        btn-sm'
      >All</a>
        <% @seasons.each do |year| %>
          <a href='/teams/<%=@team.id%>?season=<%= year %>'
            type='button'
            class='btn btn-default
            <%= 'btn-primary btn-active' if @season == year %>
            btn-sm'
          ><%= year %></a>
        <% end %>
    </div>
  </div>

</div>
